@media (max-width: 1280px){
    .container {
        max-width: 1140px;
    }
    .hero-slider-img > img {
        width: 100%;
        height: auto;
    }
    .hero-image-title {
        width: 250px;
    }
    h1.hero-title {
        font-size: 32px;
    }
    h2.hero-title {
        font-size: 24px;
    }
    .desc {
        font-size: 16px;
        line-height: 24px;
    }
    .leaderboard-box {
        width: 340px;
    }
    .leaderboard-tab.nav-pills {
        gap: 0;
    }
    .leaderboard-tab.nav-pills .nav-link {
        padding: 8px 0px;
        width: 100%;
    }
    .news-box {
        width: 260px;
    }
    .news-box-title {
        font-size: 18px;
        line-height: 27px;
    }
    .stage {
        gap: 14px;
    }
    .stage-item .stage-item-icon {
        padding: 8px;
    }
    .stage-item .stage-item-desc {
        padding: 12px 12px 12px 20px;
    }
    .owl-weapon .owl-item {
        padding: 0 10px;
    }
    .owl-weapon-item {
        width: 100%;
    }
    .owl-weapon-item div {
        width: 100%;
    }
}
@media (max-width: 1199.98px){
    .container {
        max-width: 960px;
    }
    .nav-menu {
        margin: 16px 0;
    }
    .nav-menu-content ul li {
        font-size: 16px;
        line-height: 24px;
        padding: 0 12px;
    }
    .survive-headline, .cta-headline {
        font-size: 96px;
        line-height: 120%;
    }
    .owl-survival .owl-survival-item-image {
        width: 240px;
        height: 160px;
    }
    .owl-survival .owl-item.active.center .owl-survival-item-image {
        height: 175px;
    }
    .owl-survival-text {
        font-size: 14px;
        line-height: 21px;
    }
    .survive-marquee-outline {
        margin-bottom: 56px;
    }
    .leaderboard-box-title, .mhnt-desc, .calendar-title, .footer-subscribe-title {
        font-size: 28px;
        line-height: 120%;
    }
    .leaderboard-box {
        width: auto;
        margin: 0 4px;
    }
    .news-headline {
        margin-top: 0;
        transform: none;
        text-align: center;
        margin-bottom: 20px;
    }
    .news-box {
        width: auto;
        margin: 0 12px 32px;
    }
    .stage {
        margin-bottom: 24px;
        display: inline-flex;
    }
}
@media (max-width: 991.98px) {
    .container {
        max-width: 720px;
    }
    .hero-content {
        align-items: start;
        padding-top: 96px;
    }
    .hero-slider-img > img {
        width: auto;
        height: 100vh;
    }
    .hero-image-title {
        width: 200px;
    }
    h1.hero-title {
        font-size: 24px;
    }
    h2.hero-title {
        font-size: 20px;
    }
    .close-icon, .toggle-icon {
        width: 24px;
        display: inline-block;
    }
    .nav-menu-content ul li a.logo-mobile {
        width: 120px;
        text-align: center;
        display: inline-block;
    }
    .nav-overlay.active {
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: rgba(16, 17, 17, 0.64);
        z-index: 1;
    }
    .nav-menu-content {
        background: #0A0123;
        z-index: 3;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        display: block;
        padding: 40px 24px;
        transition: all .5s;
        margin-top: -1000px;
        max-height: 100vh;
        overflow: auto;
    }
    .nav-menu-content ul {
        padding-left: 0;
    }
    .nav-menu-content ul li {
        display: block;
        margin-bottom: 48px;
        padding: 0;
    }
    .nav-menu-content ul li a {
        font-size: 18px;
        line-height: 27px;
        text-align: center;
        display: block;
    }
    .nav-menu-content.active {
        margin-top: 0;
    }
    .survive-headline, .cta-headline {
        font-size: 72px;
    }
    .owl-survival .owl-stage-outer {
        padding: 56px 0 190px;
    }
    .owl-survival .owl-survival-item-image {
        box-shadow: none;
        width: 100%;
        height: 145px;
    }
    .owl-survival .owl-item.active.center {
        z-index: 8;
    }
    .owl-survival-text {
        padding: 16px 0px;
    }
    .owl-survival .owl-item.active.center .owl-survival-item-image {
        height: 150px;
    }
    .leaderboard-box, .news-box {
        margin: 0 160px;
    }
    .owl-leaderboard .owl-nav {
        text-align: center;
    }
    .news-box {
        margin: 24px 8px;
    }
    .mhnt-title {
        font-size: 180px;
    }
    .footer-link {
        text-align: center;
    }
}
@media (max-width: 800.98px) {
    .container {
        max-width: 700px;
    }
    body {
        font-size: 14px;
        line-height: 21px;
    }
}
@media (max-width: 575.98px) {
    .container {
        padding: 0 24px;
    }
    .hero-image-title {
        width: auto;
        height: 120px;
    }
    .hero-image-title > img {
        width: auto;
        height: 100%;
    }
    #survive {
        padding: 72px 0 104px;
    }
    #leaderboard {
        padding: 104px 0 64px;
    }
    #mhnt {
        padding: 104px 0;
    }
    #weapon {
        padding: 48px 0 104px;
    }
    #cta {
        background: #2D1961;
        padding: 56px 0 56px;
    }
    .nav-menu-logo {
        width: 48px;
    }
    .survive-headline, .cta-headline {
        font-size: 32px;
    }
    .survive-marquee {
        padding: 12px;
    }
    .survive-marquee-outline {
        padding-top: 32px;
        padding-bottom: 32px;
    }
    .survive-marquee .text span span.star {
        width: 24px;
    }
    .survive-marquee .text {
        font-size: 14px;
        line-height: 21px;
    }
    .survive-marquee .text span span {
        padding: 0 24px;
    }
    .owl-survival {
        padding: 24px 0;
    }
    .owl-survival .owl-stage-outer {
        padding: 40px 0 64px;
    }
    .owl-survival .owl-survival-item-image {
        height: 170px;
    }
    .owl-survival .owl-item.active.center .owl-survival-item-image {
        height: 170px;
    }
    .owl-carousel.owl-survival .owl-item.active.center img {
        padding: 20px 4px 4px;
    }
    .owl-survival .owl-item.active.center .owl-survival-item-image:before {
        background: url("../assets/frame-mobile.png") no-repeat center center;
        background-size: 100% 100%;
    }
    .owl-leaderboard .owl-stage-outer {
        padding: 40px 0 24px;
    }
    .owl-survival-title {
        bottom: -2px;
    }
    .what-is {
        border-radius: 8px;
    }
    .headline {
        font-size: 28px;
    }
    .desc {
        font-size: 14px;
        line-height: 21px;
    }
    .leaderboard-box {
        margin: 0;
    }
    .mhnt-title {
        font-size: 88px;
    }
    .leaderboard-box-title, .mhnt-desc, .calendar-title, .footer-subscribe-title {
        font-size: 24px;
    }
    .news-box {
        margin: 16px 10px 24px;
    }
    .stage {
        flex-direction: column;
    }
    .stage, .stage-list, .stage-item, .stage-item .stage-item-desc {
        width: 100%;
    }
    .stage-list {
        padding: 0 16px;
    }
    .weapon-tab.nav-pills {
        margin-bottom: 32px;
    }
    .owl-weapon-item {
        margin-bottom: 32px;
    }
    .btn-secondary-gradient > div {
        display: block;
    }
    .footer-logo {
        width: 146px;
    }
    .footer-link li a {
        font-size: 14px;
        line-height: 21px;
    }
}
@media (max-width: 360px) {
    .container {
        max-width: 320px;
    }
}